/*.design h6{
  font-family: garamond;
  font-size: 105px;
}*/
*{
  margin: 0;
  padding: 0;
}
.home{
  background: url('./Images/chair4.JPEG');
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 675px;
  background-position: center;
}
.design{
  padding: 20px;
  width: auto;
  color: white;
}
.design h6{
  font-family: garamond;
  font-size: 105px;
  margin-top: 80px;
  margin-left: 20px;
}
.design .content{
  font-family: 'Times New Roman', Times, serif;
  font-size: 55px;
  margin-left: 30px;
}
.design p{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  margin-left: 30px;
}
.design button{
  padding: 10px 30px 10px 30px;
  margin-top: 20px ;
  border-radius: 20px;
  margin-left: 30px;
  background-color: red;
  color: white;
  font-size: 20px;
  border: none;
}
.design button:hover{
  background-color: white;
  color: black;
}
.detail{
	margin: 20px;
	width: auto;
	display: flex;
	padding: 20px;

}
.para{
	font-family: 'Times New Roman', Times, serif;
	font-size: 18px;
	text-align: justify;
	padding-left: 20px;
}
.contact{
  margin: 20px;
  border: 1px ;
  padding: 20px;
}
.form{
  display: grid;
  align-items: center;
  justify-content: center;

  font-size: 20px;
  width: auto;
  margin-top: 30px;
}
.form h2 {
text-align: center;
justify-content: center;
}
.form input{
  padding: 10px 100px 10px 100px;
  margin-top: 10px;

}
.form label{
  margin-top: 20px;
}
.form textarea{
  height: 100px;
}
.form button{
  padding: 10px 30px 10px 30px;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: red;
  color: white;
}
.form button:hover{
  background-color: orange;
}
.crud {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

table td {
  width: 200px;
  height: 30px;
  background-color: rgb(54, 135, 211);
  text-align: center;
  color: white;
}

table td button {
  padding: 5px 10px;
  border-radius: 5%;
  cursor: pointer;
}
table td button.edit {
  border: 1px solid green;
  background-color: rgb(7, 168, 7);
  color: white;
}
table td button.edit:hover {
  background-color: rgb(3, 71, 3);
}
table td button.delete {
  border: 1px solid red;
  background-color: rgb(219, 19, 19);
  color: white;
}
table td button.delete:hover {
  background-color: rgb(92, 5, 5);
}


.addForm {
  margin-bottom: 30px;
}
.addForm input {
  width: 230px;
  height: 30px;
}
.addForm button {
  width: 135px;
  color: white;
  height: 35px;
  background-color: rgb(31, 171, 31);
}
.addForm button:hover {
  background-color: rgb(5, 86, 5);
}
@media only screen and (max-width: 1024px){
  .design{
    width: auto;
  }
  .design h6{
    font-family: garamond;
    font-size: 85px;
    margin-top: 60px;
    margin-left: 20px;
  }
  .design .content{
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    margin-left: 20px;
  }
  .design p{
    margin-left: 10px;
  }
}
  @media only screen and (max-width: 900px){
    
    .design{
      width: auto;
    }
    .design h6{
      font-family: garamond;
      font-size: 85px;
      margin-top: 60px;
      margin-left: 20px;
    }
    .design .content{
      font-family: 'Times New Roman', Times, serif;
      font-size: 35px;
      margin-left: 30px;
    }
    .design p{
      margin-left: 30px;
    }
  .detail{
    margin: 20px;
    width: auto;
    align-items: center;
    justify-content: center;
    display: inline-block;
    padding: 20px;
  
  }
  .detail img{
    margin-left: 40px;
  }
}
@media only screen and (max-width: 600px){
  .design{
    width: auto;
  }
  .design h6{
    font-family: garamond;
    font-size: 65px;
    margin-top: 80px;
    margin-left: 10px;
  }
  .design .content{
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    margin-left: 10px;
  }
  .design p{
    margin-left: 10px;
  }
  .detail{
    margin: 20px;
    width: auto;
    align-items: center;
    justify-content: center;
    display: inline-block;
    padding: 20px;
  
  }
  .detail img{
    margin-left: 40px;
  }
  .para{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    text-align: justify;
    padding-left: 20px;
  }
}